/* .carousel-item {
  height: 32rem;
  background: #777;
} */
@keyframes flicker {
  0% {
    --glow: #db001f;
    --bar: #ff8d9d;
  }
  80% {
    --glow: #db001f;
    --bar: #ff8d9d;
  }
  81% {
    --glow: transparent;
    --bar: #444;
  }
  85% {
    --glow: transparent;
    --bar: #444;
  }
  86% {
    --glow: #db001f;
    --bar: #ff8d9d;
  }
  87% {
    --glow: transparent;
    --bar: #444;
  }
  90% {
    --glow: transparent;
    --bar: #444;
  }
  91% {
    --glow: #db001f;
    --bar: #ff8d9d;
  }
  92% {
    --glow: transparent;
    --bar: #444;
  }
  100% {
    --glow: transparent;
    --bar: #444;
  }
}
.navbar {
  z-index: 1;
}
.home-content h1 {
  --glow: #db001f;
  --bar: #ff8d9d;
  animation: flicker 3500ms linear infinite;
  border-radius: 0.5em;
  font: clamp(12px, 5vw, 96px) / 1 "Tilt Neon", sans-serif;
  border: 0.1em solid;
  background-color: black;
  padding: 0.4em 0.8em;
  position: absolute;
  top: 33vh;
  left: 50%;
  translate: -50%;
  color: var(--bar);
  text-shadow: 0 0 0.5em var(--glow), 0 0 0.5em var(--glow),
    0 0 0.5em var(--glow), 0 0 0.5em var(--glow);
  box-shadow: 0 0 0.5em var(--glow), 0 0 0.5em var(--glow),
    0 0 0.5em var(--glow), 0 0 0.5em var(--glow), inset 0 0 0.5em var(--glow),
    inset 0 0 0.5em var(--glow), inset 0 0 0.5em var(--glow),
    inset 0 0 0.5em var(--glow);
}
.home-carousel {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.home-carousel img {
  height: 100dvh;
  object-fit: cover;
}
